body{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

input {
    border: none;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #333;
}

input:disabled {
    background: none;
    color: #333;
}

input.input-font-awesome {
    font-family: 'Font Awesome 5 Free';
}

label {
    font-size: 0.6rem;
    color: #666;
    text-transform: none;
    display: block;
}

img {
    width: 5rem;
}

#icon {
    position: absolute;
    top: 1px;
    left: 1px;
    cursor: pointer;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.match {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.match-player {
    display: flex;
}

.top-match {
    padding-bottom: 3vh;
}

.bottom-match {
    padding-top: 3vh;
}

.match input {
    margin: 1vh 0;
}

.versus {
    font-size: 0.6rem;
}

#refresh {
    font-size: 3rem;
    padding: 12px 12px;
    color: #808080;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-gapped {
    row-gap: 1px;
    column-gap: 1px;
}

.grid-bordered {
    background: #eee;
}